@import url(//fonts.googleapis.com/css?family=Vibur);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* body and section styles*/
body {
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
}

section {
  padding-top: 20px;
  color: white;
}

.navbar {
  position: relative;
  overflow-x: auto;
}

/*header styles*/
#headerBox {
  display: flex;
  justify-content: center;
}

.headerContainer {
  text-transform: uppercase;
  font-size: 75px;
  display: flex;
  flex-direction: row;
  height: 40vh;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Logo Text Colors */
/* pink color */
#pink {
  color: #d61c5b;
  position: relative;
}

/* red color*/
#red {
  color: #f1573f;
}

/* yellow color */
#yellow1, #yellow2 {
  color: #feb213;
}

/* green color */
#green {
  color: #6abc4e;
}

/*blue color */
#blue {
  color: #2599d8;
}

/*footer styles*/
footer {
    color: black;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    margin-top: 20px;
    z-index: -1;
    text-align: center;
}

/*search form styles */
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2599d8;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px #176087 solid;
  font-size: 18px;
}

input[type=submit] {
  font-family: "Oswald", sans-serif;
  background-color: #feb213;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 5px;
}
.radiodiv {
  display: flex;
}
.radiodiv > div {
  margin-right: 10px;
}

/* search result styles */
#results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#nomatch, #resultnum {
  text-align: center;
}

.productcard {
  border: #d61c5b 3px solid;
  border-radius: 10px;
  min-width: 250px;
  padding: 15px;
  text-align: center;
  margin: 10px;
}

.viewproduct {
  padding: 5px 25px;
  border-radius: 10px;
  color: #d61c5b;
  border: #d61c5b 2px solid;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
}

.productcard {
  color: black;
}

.productcard img {
  max-width: 250 px;
}

/* product page style */
.productpagecont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.details > dl dt {
  font-weight: bold;
}

.details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
}

.productpage, #productadd {
  text-align: center;
}

/* cart */
.shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*home page styles*/
#welcome {
  position: relative;
  max-height: 800px;
}

#welcomeImage{
  opacity: 75%;
  width: 100%;
  display: block;
  z-index:  5;
  text-align: center;
}

#opaque {
  opacity: .99;
  z-index:-10;
  position:relative;
}

#tagline {
  text-transform: lowercase;
  color: white;
  position: absolute;
  text-align: center;
  left:50%;
  top:3%;
  margin-left:-300px;
  margin-top:-250px;
  font-size: 5vh;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#browse {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-color: #2599d8;
  text-align: center;
  z-index: 11;
}

#browseButton {
  font-family: "Oswald", sans-serif;
  background-color: #feb213;
  padding: 10px 20px;
  width: 50%;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 18px;
}

#browseButton a {
  text-decoration: none;
}

#launch {
  width: 100%;
  height: 100px;
  background-color: #25d2d8;
  text-align: center;
  position: relative;
  z-index: 11;
}

#create, #login, #learn {
  background-color: white;
  margin:20px 20px 20px 20px;
  width: 20%;
  border-radius: 10px;
  font-size: 20px;
  height: 50%;
}

#create a, #login a, #learn a {
  text-decoration: none;
  color: teal;
}

/*account form styles */
h3 {
  text-align: center;
}

#signinform, #registerForm, #editaccountform {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2599d8;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px #176087 solid;
  font-size: 18px;
}

#signinbutton, #registerbutton, #deleteaccountbutton {
  font-family: "Oswald", sans-serif;
  background-color: #feb213;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 5px;
}

#deleteaccountbutton a {
  color: black;
  text-decoration: none;
}